@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>Forex Exchange 2.0</h1>

</div>

@foreach (var currency in Model.ExampelCurrencies)
{
   <h5 class="h5">Currency Name: @currency.Name </h5>
    <p class="p">Market price: @currency.Price / sek</p>
   <br />
}

<div>
    <form method="post">
        <input type="text" asp-for="CurrencyName" placeholder="Currency name" class="round" />
        <input type="submit" value="Search" class="btn btn-light rounded mr-2" />
    
    </form>
</div>

@if (Model.Currency != null)
{
    <h5 class="h5">Currency Name: </h5>
    <p class="p">@Model.Currency.Name </p>
    <br />
    <h5 class="h5">Market price: </h5>
    <p class="p">@Model.Currency.Price </p>
    <br />
    <h5 class="h5">API Id: </h5>
    <p class="p">@Model.Currency.ApiId / sek</p>

}



<div>
    <form method="post">
        <button type="submit" asp-page-handler="AddCurrency" class="btn btn-primary rounded">Add Currency</button>
        <input type="hidden" asp-for="Currency" />
    </form>
</div>